/* css styles */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

/*-- scss:rules --*/

header .title {
  font-family: "Montserrat", sans-serif;
}

header .subtitle {
  font-family: "Montserrat", sans-serif;
}

.navbar-brand {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-nav a {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-nav .nav-link.active {
  border-radius: 10px;
}

.main_text {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
}

.custom-link {
    color: #607070; /* Substitua #555555 pelo tom de cinza desejado */
    text-decoration: none; /* Remove o sublinhado */
    font-weight: bold; /* Torna a cor um pouco mais forte */
}